<h1>Welcome to the Word Count game!</h1>
<form action="/result_page">
  <div class="form-group">
    <label for="sentence">Please enter a sentence of your choice</label>
    <input id="sentence" name="sentence" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="count">Enter the word you wish to count</label>
    <input id="count" name="count" class="form-control" type="text">
  </div>

  <button type="submit" class="btn-success">Send</button>
</form>
